.App {
  background-color: #121212;
  display: flex;
  /* Use Flexbox */
  justify-content: space-between;
  /* Items are evenly distributed in the flex container */
  align-items: flex-start;
  /* Align items at the start of the cross axis */
  padding: 20px;
  /* Add some padding for spacing */
}
h2{
  color:white;

}
p{
  color:white;

}
#button{
  color:white;
  background-color: #121212;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  visibility: hidden;
  

}
.explanation{
  color:white;

}
.quiz-synopsis{
  color:white;


}
.selected-option{
  color: black;
}
.selected-option selected-open{
  color:black;


}
.dropdown-options-item{
  color:black;

}
div{
  color:white;
}
/* Style for the quiz container */
#quiz {
  width: 60%;
  /* Adjust the width of the quiz container */
}

/* Style for the image */
#image {
  transition: opacity 0.5s ease-in-out;
  width: 30%;
  /* Adjust the width of the image */
  height: auto;
  /* Maintain aspect ratio */
}
.fade-out {
  opacity: 0;
  /* Fade out effect */
}